@model Product 
<!DOCTYPE html>

<html>
<head>
    <title>Mike is learning MVC</title>
    <link href="/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<h6 class="bg-primary text-white text-center m-2 p-2">Watersports</h6>
<div class="m-2">
    @* data-id attribute *@
    <table class="table table-sm table-striped table-bordered"
           data-id="@Model.ProductId">
        <tbody>
        @if (Model.Price > 200)
        {
            <tr>
                <th>Name</th>
                <td>Luxury @Model.Name</td>
            </tr>
        }
        else
        {
            <tr>
                <th>Name</th>
                <td>Basic @Model.Name</td>
            </tr>
        }
        
        @*@switch (Model.Name)
        {
            case "Kayak":<tr><th>Name</th><td>Small Boat</td></tr>
                break;
            case "Lifejacket":<tr><th>Name</th><td>Flotation Aid</td></tr>
                break;
            default:<tr><th>Name</th><td>@Model.Name</td></tr>
                break;
        }*@
        
        @* this syntax will decrease duplicated code *@
        
        <tr><th>Name</th><td>
            @switch (Model.Name)
            {
                case "Kayak":
                    @:Small Boat
                    break;
                case "Lifejacket":
                    @:Flotation Aid
                    break;
                default:
                    @Model.Name
                    break;
            }
         
        </td></tr>
        
        <tr>
            <th>Name</th>
            <td>@Model.Name</td>
        </tr>
        <tr>
            <th>Price</th>
            <td>@Model.Price.ToString("C")</td>
        </tr>
        <tr>
            <th>Category ID</th>
            <td>@Model.CategoryId</td>
        </tr>
        <tr>
            <th>Tax</th>
            <td>@Model.Price*0.2m</td>
        </tr>
        <tr>
            <th>Tax</th>
            <td>@(Model.Price * 0.2m)</td>
        </tr>
        </tbody>

    </table>
</div>
</body>
</html>